
.grid__col--12 {
  display: block;
  padding: 0 15px;
  width: 100%;
  @include mq(medium) {
    @include flexbox(flex, row, nowrap, space-between);
  }
}

.btn--default {
  @extend %grid-styles;
  background: $color-blue;
}

.btn--success {
  @extend %grid-styles;
  background: $emerald;
}

.btn--error {
  @extend %grid-styles;
  background: $sunglo;
}

.btn--warning {
  @extend %grid-styles;
  background: coral;
}

.btn--info {
  @extend %grid-styles;
  background: $purple-majesty;
}


.btn {
  @include mq(medium) {
    &--default,
    &--success,
    &--warning,
    &--error,
    &--info {
      margin-right: 30px;
    }
  }
}
