


.img {
  &--frame {
    @extend %clearfix;
    border: 2px solid $color-light-grey;
    padding: 20px;
    @include mq(medium) {
      margin: 0;
      position: relative;
      z-index: 1;
    }
  }
  &--avatar {
    @extend %img-placement;
    @extend %clearfix;
    @include mq(medium) {
      position: relative;
    }
  }
}
