


.img {
  &--frame {
    border: 2px solid $color-light-grey;
    padding: 20px;
    @include mq(medium) {
      margin: 0;
    }
  }
  &--avatar {
    @extend %img-placement;
    @include mq(medium) {
      margin-right: 25px;
    }
  }
}
