
.nav {
  font-size: 1.3em;
  color: $font-color-dark;
  padding-right: 40px;
  list-style-type: none;
  @include mq(medium) {
    @include flexbox(flex, row, nowrap, spacebetween);
  }
  a {
    text-align: center;
    color: $color-grey;
    text-decoration: none;
  }
}

.nav__item {
  text-decoration: none;
  padding: 15px;

}


.nav__item:hover {
    border-radius: 10px;
    background-color: $color-teal;
  }

a:hover {
  color: $color-white;
}
